@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe's Pizza'</h1>
    <p>Learn about <a href="https://simple.wikipedia.org/wiki/Pizza">Have a delicious Pizza here</a>.</p>
</div>
